@import url("https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Commissioner:wght@100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --fontfamily: "Chivo", sans-serif;
  --fontfamily2: "Roboto", sans-serif;
  --fontfamily3: "Quicksand", sans-serif;
  --fontfamily4: "Poppins", sans-serif;
  --primecolor: #b3479a;
  --secondarycolor: #3e495b;
}

.text-reset:focus,
.text-reset:active {
  box-shadow: none !important;
  border: none !important;
}
